Node-RED-flow.json
[{"id":"8c1b3bf.ee5dac8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"93f5fbe0.b91498","type":"function","z":"8c1b3bf.ee5dac8","name":"tempParser","func":"return{payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":410,"y":780,"wires":[["abdf73bd.3b3cb","346681fd.315e7e"]]},{"id":"9b9ef938.a08738","type":"ibmiot in","z":"8c1b3bf.ee5dac8","authentication":"apiKey","apiKey":"1c4962d2.156d5d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"10","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":false,"allEvents":true,"allCommands":"","allFormats":true,"qos":"1","x":160,"y":780,"wires":[["93f5fbe0.b91498","b1dda0d.ad2ad6","484e9279.cc1efc"]]},{"id":"a1f8916d.6976e","type":"http request","z":"8c1b3bf.ee5dac8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?id=1273865&appid=faf8c53ee0c0dee774e8830d88fb304d","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":660,"wires":[["2fe6ca24.362f36","981d0a42.3f0c28","e32ee1d.724222","73298f86.8513e","735b5b31.6bfb84"]]},{"id":"318098c5.0d4c58","type":"inject","z":"8c1b3bf.ee5dac8","name":"HTTP","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":660,"wires":[["a1f8916d.6976e"]]},{"id":"2fe6ca24.362f36","type":"function","z":"8c1b3bf.ee5dac8","name":"TempAPIParser","func":"var temperature = msg.payload.main.temp;\ntemperature = temperature - 273.15;\n\nreturn {payload:temperature.toFixed(2)};","outputs":1,"noerr":0,"x":640,"y":500,"wires":[["330ec20a.a5404e","12446bed.748714"]]},{"id":"abdf73bd.3b3cb","type":"ui_text","z":"8c1b3bf.ee5dac8","group":"52c4e42.dc7191c","order":4,"width":0,"height":0,"name":"Temperature","label":"Temperature (°C)","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":700,"wires":[]},{"id":"b1dda0d.ad2ad6","type":"function","z":"8c1b3bf.ee5dac8","name":"humidParser","func":"return{payload:msg.payload.d.humidity};","outputs":1,"noerr":0,"x":410,"y":820,"wires":[["137c8540.b843fb","de7e3072.14867"]]},{"id":"484e9279.cc1efc","type":"function","z":"8c1b3bf.ee5dac8","name":"objectTempParser","func":"return{payload:msg.payload.d.objectTemp};","outputs":1,"noerr":0,"x":390,"y":860,"wires":[["2ce22754.07bb78","fe075c89.3b2bc"]]},{"id":"137c8540.b843fb","type":"ui_text","z":"8c1b3bf.ee5dac8","group":"52c4e42.dc7191c","order":5,"width":0,"height":0,"name":"Relative Humidity","label":"Relative Humidity (%)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":780,"wires":[]},{"id":"2ce22754.07bb78","type":"ui_text","z":"8c1b3bf.ee5dac8","group":"52c4e42.dc7191c","order":6,"width":0,"height":0,"name":"Object Temperature","label":"Object Temperature (°C)","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":860,"wires":[]},{"id":"981d0a42.3f0c28","type":"function","z":"8c1b3bf.ee5dac8","name":"MaxTempAPIParser","func":"return{payload:msg.payload.main.temp_max - 273.15};","outputs":1,"noerr":0,"x":660,"y":540,"wires":[["158b4c5b.737a54"]]},{"id":"73298f86.8513e","type":"function","z":"8c1b3bf.ee5dac8","name":"FeelsLikeAPIParser","func":"var feelsLike = msg.payload.main.feels_like;\n\nfeelsLike = feelsLike - 273.15;\n\nreturn{payload:feelsLike.toFixed(2)};","outputs":1,"noerr":0,"x":660,"y":620,"wires":[["d8a0a69a.2b8db8","3d76fa47.404b66"]]},{"id":"735b5b31.6bfb84","type":"function","z":"8c1b3bf.ee5dac8","name":"HumidityAPIParser","func":"return{payload:msg.payload.main.humidity};","outputs":1,"noerr":0,"x":650,"y":660,"wires":[["b12b4dd3.93b52","eb7d9a45.e5f598"]]},{"id":"e32ee1d.724222","type":"function","z":"8c1b3bf.ee5dac8","name":"MinAPIParser","func":"return{payload:msg.payload.main.temp_min - 273.15};","outputs":1,"noerr":0,"x":640,"y":580,"wires":[["8029b706.6d6758"]]},{"id":"158b4c5b.737a54","type":"ui_text","z":"8c1b3bf.ee5dac8","group":"1b1321b3.24bc7e","order":4,"width":"0","height":"0","name":"Max. Temperature","label":"Max. Temperature (°C)","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":580,"wires":[]},{"id":"8029b706.6d6758","type":"ui_text","z":"8c1b3bf.ee5dac8","group":"1b1321b3.24bc7e","order":5,"width":"0","height":"0","name":"Min. Temperature","label":"Min. Temperature (°C)","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":620,"wires":[]},{"id":"d8a0a69a.2b8db8","type":"ui_text","z":"8c1b3bf.ee5dac8","group":"1b1321b3.24bc7e","order":6,"width":"0","height":"0","name":"Feels like","label":"Feels Like (°C)","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":660,"wires":[]},{"id":"b12b4dd3.93b52","type":"ui_text","z":"8c1b3bf.ee5dac8","group":"1b1321b3.24bc7e","order":7,"width":"0","height":"0","name":"Relative Humidity","label":"Relative Humidity (%)","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":740,"wires":[]},{"id":"9038546f.869ff8","type":"ui_text","z":"8c1b3bf.ee5dac8","group":"2c621d0d.b45982","order":5,"width":0,"height":0,"name":"Crops Water PumpStatus","label":"Water Pump Status","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":940,"wires":[]},{"id":"f7fe30c.1a759d","type":"function","z":"8c1b3bf.ee5dac8","name":"checkState","func":"if (msg.payload === true)\n{\n    msg.payload = '{\"waterpump\" : \"ON\"}';\n}\nelse\n{\n    msg.payload = '{\"waterpump\" : \"OFF\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":960,"wires":[["a97a5487.e0bfd8","981285d9.3e4068"]]},{"id":"d0e06c6f.6023d","type":"ui_text","z":"8c1b3bf.ee5dac8","group":"2c621d0d.b45982","order":6,"width":0,"height":0,"name":"Borewell Pump Status","label":"Borewell Pump Status","format":"{{msg.payload}}","layout":"row-spread","x":940,"y":1040,"wires":[]},{"id":"91ecac2a.d09c1","type":"function","z":"8c1b3bf.ee5dac8","name":"checkState","func":"if (msg.payload === true)\n{\n    msg.payload = '{\"borewell\" : \"ON\"}';\n}\nelse\n{\n    msg.payload = '{\"borewell\" : \"OFF\"}';\n}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":1040,"wires":[["d9443112.4aedd","c2c2743a.b884f8"]]},{"id":"ea009ba3.fb2c88","type":"ui_button","z":"8c1b3bf.ee5dac8","name":"Water Pump for Crops","group":"2c621d0d.b45982","order":2,"width":"4","height":"2","passthru":false,"label":"Water Pump ON","tooltip":"","color":"","bgcolor":"#008000","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":960,"wires":[["f7fe30c.1a759d"]]},{"id":"cd7da5d9.ccd0e8","type":"ui_button","z":"8c1b3bf.ee5dac8","name":"Water Pump for Crops","group":"2c621d0d.b45982","order":1,"width":"4","height":"2","passthru":false,"label":"Water Pump OFF","tooltip":"","color":"","bgcolor":"#FF0000","icon":"","payload":"false","payloadType":"bool","topic":"","x":140,"y":1000,"wires":[["f7fe30c.1a759d"]]},{"id":"c0f8b6e2.c10368","type":"ui_button","z":"8c1b3bf.ee5dac8","name":"Borewell Pump","group":"2c621d0d.b45982","order":4,"width":"4","height":"2","passthru":false,"label":"Borewell Pump ON","tooltip":"","color":"","bgcolor":"#008000","icon":"","payload":"true","payloadType":"bool","topic":"","x":160,"y":1040,"wires":[["91ecac2a.d09c1"]]},{"id":"76c6383.9dee4c8","type":"ui_button","z":"8c1b3bf.ee5dac8","name":"Borewell Pump","group":"2c621d0d.b45982","order":3,"width":"4","height":"2","passthru":false,"label":"Borewell Pump OFF","tooltip":"","color":"","bgcolor":"#FF0000","icon":"","payload":"false","payloadType":"bool","topic":"","x":160,"y":1080,"wires":[["91ecac2a.d09c1"]]},{"id":"330ec20a.a5404e","type":"ui_gauge","z":"8c1b3bf.ee5dac8","name":"TemperatureGauge","group":"1b1321b3.24bc7e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":950,"y":540,"wires":[]},{"id":"eb7d9a45.e5f598","type":"ui_gauge","z":"8c1b3bf.ee5dac8","name":"HumidityGauge","group":"1b1321b3.24bc7e","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":780,"wires":[]},{"id":"de7e3072.14867","type":"ui_gauge","z":"8c1b3bf.ee5dac8","name":"HumidityGauge","group":"52c4e42.dc7191c","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":820,"wires":[]},{"id":"346681fd.315e7e","type":"ui_gauge","z":"8c1b3bf.ee5dac8","name":"Temperature Gauge","group":"52c4e42.dc7191c","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"0","max":"78","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":740,"wires":[]},{"id":"fe075c89.3b2bc","type":"ui_gauge","z":"8c1b3bf.ee5dac8","name":"ObjectTempGauge","group":"52c4e42.dc7191c","order":2,"width":0,"height":0,"gtype":"gage","title":"Object Temperature","label":"°C","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":900,"wires":[]},{"id":"12446bed.748714","type":"ui_text","z":"8c1b3bf.ee5dac8","group":"1b1321b3.24bc7e","order":8,"width":0,"height":0,"name":"Temperature","label":"Temperature (°C)","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":500,"wires":[]},{"id":"3d76fa47.404b66","type":"ui_gauge","z":"8c1b3bf.ee5dac8","name":"Feels like","group":"1b1321b3.24bc7e","order":2,"width":0,"height":0,"gtype":"gage","title":"Feels Like","label":"°C","format":"{{value}}","min":"1","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":700,"wires":[]},{"id":"21d2843b.0c2c8c","type":"ibmiot out","z":"8c1b3bf.ee5dac8","authentication":"apiKey","apiKey":"1c4962d2.156d5d","outputType":"cmd","deviceId":"11","deviceType":"commander","eventCommandType":"borewell_on_off","format":"json","data":"ON","qos":0,"name":"IBM IoT Out","service":"registered","x":970,"y":1080,"wires":[]},{"id":"518933b0.9071fc","type":"ibmiot out","z":"8c1b3bf.ee5dac8","authentication":"apiKey","apiKey":"1c4962d2.156d5d","outputType":"cmd","deviceId":"11","deviceType":"commander","eventCommandType":"crops_on_off","format":"json","data":"ON","qos":0,"name":"IBM IoT Out","service":"registered","x":970,"y":980,"wires":[]},{"id":"d9443112.4aedd","type":"json","z":"8c1b3bf.ee5dac8","name":"Borewell","property":"payload","action":"obj","pretty":true,"x":620,"y":1080,"wires":[["21d2843b.0c2c8c"]]},{"id":"981285d9.3e4068","type":"function","z":"8c1b3bf.ee5dac8","name":"pStat","func":"var parsedData = JSON.parse(msg.payload);\nmsg.payload = parsedData.waterpump;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":960,"wires":[["9038546f.869ff8"]]},{"id":"c2c2743a.b884f8","type":"function","z":"8c1b3bf.ee5dac8","name":"pStat","func":"var parsedData = JSON.parse(msg.payload);\nmsg.payload = parsedData.borewell;\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1040,"wires":[["d0e06c6f.6023d"]]},{"id":"a97a5487.e0bfd8","type":"json","z":"8c1b3bf.ee5dac8","name":"WaterPump","property":"payload","action":"obj","pretty":true,"x":630,"y":1000,"wires":[["518933b0.9071fc"]]},{"id":"1c4962d2.156d5d","type":"ibmiot","z":"","name":"Python","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"52c4e42.dc7191c","type":"ui_group","z":"","name":"IBM Watson","tab":"b851bc42.51323","order":3,"disp":true,"width":"9","collapse":false},{"id":"1b1321b3.24bc7e","type":"ui_group","z":"","name":"OpenWeather API","tab":"b851bc42.51323","order":2,"disp":true,"width":"9","collapse":false},{"id":"2c621d0d.b45982","type":"ui_group","z":"","name":"Controls","tab":"b10d5c6.c2392a","order":3,"disp":true,"width":"8","collapse":false},{"id":"b851bc42.51323","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"b10d5c6.c2392a","type":"ui_tab","z":"","name":"Controls","icon":"dashboard","order":3,"disabled":false,"hidden":false}]